In [1]:
import yfinance as yf
from datetime import datetime, timedelta

In [2]:
end_test = datetime.today()
start_test = end_test - timedelta(days=29)

end_train = start_test
start_train = end_test - timedelta(days=59)

end_test_date = end_test.strftime('%Y-%m-%d')
start_test_date = start_test.strftime('%Y-%m-%d')
end_train_date = end_train.strftime('%Y-%m-%d')
start_train_date = start_train.strftime('%Y-%m-%d')

In [3]:
symbol = "MSFT"
interval = "15m"

In [4]:
df_train = yf.download(symbol, start=start_train_date, end=end_train_date, interval=interval)
df_train.columns = df_train.columns.droplevel(1)
df_train.reset_index(inplace=True)

[*********************100%***********************]  1 of 1 completed

In [5]:
display(df_train)

Price,Datetime,Adj Close,Close,High,Low,Open,Volume
0,2024-10-22 09:30:00,422.149994,422.149994,422.679993,418.047913,419.000000,2599936
1,2024-10-22 09:45:00,426.244995,426.244995,426.639587,422.114990,422.114990,1758356
2,2024-10-22 10:00:00,427.239990,427.239990,427.910004,425.339996,426.309998,1703883
3,2024-10-22 10:15:00,428.070007,428.070007,428.380005,426.869995,427.230011,1174176
4,2024-10-22 10:30:00,427.569397,427.569397,429.420013,427.519989,428.140015,1384684
...,...,...,...,...,...,...,...
567,2024-11-20 14:45:00,413.850006,413.850006,414.069885,413.609985,413.760010,400729
568,2024-11-20 15:00:00,413.690094,413.690094,413.839996,413.309998,413.795013,476727
569,2024-11-20 15:15:00,414.540009,414.540009,414.549988,413.679993,413.709991,345856
570,2024-11-20 15:30:00,415.470001,415.470001,415.980011,414.549988,414.570007,635936
571,2024-11-20 15:45:00,415.369995,415.369995,416.260010,415.149994,415.459991,1844274

In [6]:
df_test = yf.download(symbol, start=start_test_date, end=end_test_date, interval=interval)
df_test.columns = df_test.columns.droplevel(1)
df_test.reset_index(inplace=True)

[*********************100%***********************]  1 of 1 completed

In [7]:
display(df_test)

Price,Datetime,Adj Close,Close,High,Low,Open,Volume
0,2024-11-21 09:30:00,414.839996,414.839996,419.779999,413.730011,419.500000,1855745
1,2024-11-21 09:45:00,414.045013,414.045013,416.374512,413.809998,414.899994,642018
2,2024-11-21 10:00:00,413.547485,413.547485,414.029999,412.100006,413.970001,716679
3,2024-11-21 10:15:00,411.207886,411.207886,414.299988,411.010010,413.595001,720413
4,2024-11-21 10:30:00,411.329987,411.329987,411.640015,410.288696,411.114990,751246
...,...,...,...,...,...,...,...
503,2024-12-19 14:45:00,439.024994,439.024994,440.036713,438.900085,439.799988,256053
504,2024-12-19 15:00:00,437.760010,437.760010,439.250000,437.470001,439.010010,488476
505,2024-12-19 15:15:00,438.584991,438.584991,439.160004,437.679993,437.769989,1099411
506,2024-12-19 15:30:00,438.269989,438.269989,439.149994,437.209991,438.559998,597530
507,2024-12-19 15:45:00,437.100006,437.100006,438.809906,436.329987,438.214996,1910807